# 4 Multiindexing
Pandas is so powerfull that it allows us to use multyindexes.

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    data={
        ("player1", "x"): np.arange(2,7),
        ("player1", "y"): np.arange(2,7),
        ("player2", "x"): np.arange(2,7),
        ("player2", "y"):np.arange(2,7),
    },
    index=[("player1", "x"),("player1", "x"),("player1", "x"),("player1", "x"),("player1", "x")]
)
df

             player1    player2
                   x  y       x  y
(player1, x)       2  2       2  2
(player1, x)       3  3       3  3
(player1, x)       4  4       4  4
(player1, x)       5  5       5  5
(player1, x)       6  6       6  6

## 4.1 Selecting

In [14]:
df['player1']['x']

(player1, x)    2
(player1, x)    3
(player1, x)    4
(player1, x)    5
(player1, x)    6
Name: x, dtype: int64

In [15]:
df.loc[:, ("player1", "x")]

(player1, x)    2
(player1, x)    3
(player1, x)    4
(player1, x)    5
(player1, x)    6
Name: (player1, x), dtype: int64

Dont forget that the rows are __first__ in case of the `loc` function. When in doubts you can alway check columns.

In [16]:
df.columns

MultiIndex([('player1', 'x'),
            ('player1', 'y'),
            ('player2', 'x'),
            ('player2', 'y')],
           )

## 4.2 Indexing

In [17]:
df.loc[0:2, ("player1", "x")] = 0
df

             player1    player2
                   x  y       x  y
(player1, x)       0  2       2  2
(player1, x)       0  3       3  3
(player1, x)       4  4       4  4
(player1, x)       5  5       5  5
(player1, x)       6  6       6  6

__Beware the previous problem__

In [18]:
df = pd.DataFrame(
    data={
        ("player1", "x"): np.arange(2,7),
        ("player1", "y"): np.arange(2,7),
        ("player2", "x"): np.arange(2,7),
        ("player2", "y"):np.arange(2,7),
    }
)

df[df['player1']['x'] < 4]['player1']['x'] = 0
df

  player1    player2
        x  y       x  y
0       2  2       2  2
1       3  3       3  3
2       4  4       4  4
3       5  5       5  5
4       6  6       6  6