# 8 Iterating the dataframe

In [4]:
import pandas as pd

df=pd.read_csv("house_prices_dataset/train.csv", nrows=10, usecols=list(range(0,7)))
df.shape

(10, 7)

## 8.1 Cycle read

In [2]:
for index, row in df.iterrows():
    print(f"index is {index}, row is {type(row)}")

index is 0, row is <class 'pandas.core.series.Series'>
index is 1, row is <class 'pandas.core.series.Series'>
index is 2, row is <class 'pandas.core.series.Series'>
index is 3, row is <class 'pandas.core.series.Series'>
index is 4, row is <class 'pandas.core.series.Series'>
index is 5, row is <class 'pandas.core.series.Series'>
index is 6, row is <class 'pandas.core.series.Series'>
index is 7, row is <class 'pandas.core.series.Series'>
index is 8, row is <class 'pandas.core.series.Series'>
index is 9, row is <class 'pandas.core.series.Series'>

In [5]:
df.iterrows()

In [9]:
temp = next(df.iterrows())
type(temp[1])

pandas.core.series.Series

In [11]:
temp

(0,
 Id                1
 MSSubClass       60
 MSZoning         RL
 LotFrontage      65
 LotArea        8450
 Street         Pave
 Alley           NaN
 Name: 0, dtype: object)

In [4]:
temp[0]

0

In [5]:
temp[1]

Id                1
MSSubClass       60
MSZoning         RL
LotFrontage      65
LotArea        8450
Street         Pave
Alley           NaN
Name: 0, dtype: object

In [6]:
temp[1].MSSubClass

60

In [7]:
temp[1].index

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley'],
      dtype='object')

In [8]:
next(df.iteritems()) # Itter through coumns where the second item of touple is the column

('Id',
 0     1
 1     2
 2     3
 3     4
 4     5
 5     6
 6     7
 7     8
 8     9
 9    10
 Name: Id, dtype: int64)

## 8.2 Cycle update

In [9]:
for index, row in df.iterrows():
    df.loc[index, "Id"] = 0

In [10]:
df

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street  Alley
0   0          60       RL         65.0     8450   Pave    NaN
1   0          20       RL         80.0     9600   Pave    NaN
2   0          60       RL         68.0    11250   Pave    NaN
3   0          70       RL         60.0     9550   Pave    NaN
4   0          60       RL         84.0    14260   Pave    NaN
5   0          50       RL         85.0    14115   Pave    NaN
6   0          20       RL         75.0    10084   Pave    NaN
7   0          60       RL          NaN    10382   Pave    NaN
8   0          50       RM         51.0     6120   Pave    NaN
9   0         190       RL         50.0     7420   Pave    NaN