# 10 Other stuff

In [60]:
import pandas as pd 
import numpy as np

df=pd.read_csv("house_prices_dataset/train.csv")
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

## 10.1 Sorting

In [12]:
df.groupby('YearBuilt')['SalePrice'].mean().sort_values(ascending=False)

YearBuilt
2010    394432.000000
2008    348849.130435
1893    325000.000000
1892    291250.000000
1989    279500.000000
            ...
1924    105985.714286
1930    103588.888889
1875     94000.000000
1913     90350.000000
1927     82666.666667
Name: SalePrice, Length: 112, dtype: float64

In [19]:
df.sort_values('SalePrice', ascending=False)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
691,692,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,755000
1182,1183,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub,...,555,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000
1169,1170,60,RL,118.0,35760,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,625000
898,899,20,RL,100.0,12919,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2010,New,Partial,611657
803,804,60,RL,107.0,13891,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2009,New,Partial,582933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
533,534,20,RL,50.0,5000,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,39300
968,969,50,RM,50.0,5925,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2009,WD,Abnorml,37900
916,917,20,C (all),50.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,Abnorml,35311
495,496,30,C (all),60.0,7879,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Abnorml,34900

## 10.2 Correlation index

In [20]:
df.corr()['SalePrice'].sort_values(ascending=False)

SalePrice        1.000000
OverallQual      0.790982
GrLivArea        0.708624
GarageCars       0.640409
GarageArea       0.623431
TotalBsmtSF      0.613581
1stFlrSF         0.605852
FullBath         0.560664
TotRmsAbvGrd     0.533723
YearBuilt        0.522897
YearRemodAdd     0.507101
GarageYrBlt      0.486362
MasVnrArea       0.477493
Fireplaces       0.466929
BsmtFinSF1       0.386420
LotFrontage      0.351799
WoodDeckSF       0.324413
2ndFlrSF         0.319334
OpenPorchSF      0.315856
HalfBath         0.284108
LotArea          0.263843
BsmtFullBath     0.227122
BsmtUnfSF        0.214479
BedroomAbvGr     0.168213
ScreenPorch      0.111447
PoolArea         0.092404
MoSold           0.046432
3SsnPorch        0.044584
BsmtFinSF2      -0.011378
BsmtHalfBath    -0.016844
MiscVal         -0.021190
Id              -0.021917
LowQualFinSF    -0.025606
YrSold          -0.028923
OverallCond     -0.077856
MSSubClass      -0.084284
EnclosedPorch   -0.128578
KitchenAbvGr    -0.135907
Name: SalePrice, dtype: float64

## 10.3 Converting strings to datetime 
Using pandas with time series data is a common usecase. For this purpose pandas gives us the functionality to transform string into datetimes

In [25]:
print(pd.to_datetime('2019-8-1'))
print(pd.to_datetime('2019/8/1'))
print(pd.to_datetime('8/1/2019'))
print(pd.to_datetime('Aug, 1 2019'))
print(pd.to_datetime('Aug - 1 2019'))
print(pd.to_datetime('August - 1 2019'))
print(pd.to_datetime('2019, August - 1'))
print(pd.to_datetime('20190108'))

print(pd.Timestamp(1513393355.5, unit='s'))
print(pd.Timestamp(1513393355, unit='s', tz='US/Pacific'))
print(pd.Timestamp(2017, 1, 1, 12))
print(pd.Timestamp(year=2017, month=1, day=1, hour=12))

2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-01-08 00:00:00
2017-12-16 03:02:35.500000
2017-12-15 19:02:35-08:00
2017-01-01 12:00:00
2017-01-01 12:00:00

## 10.4 Working with datetime

In [63]:
df = pd.date_range(start='2019-08-01 00:00:00',periods=10, freq='5s').to_frame().reset_index(drop=True)
df

                    0
0 2019-08-01 00:00:00
1 2019-08-01 00:00:05
2 2019-08-01 00:00:10
3 2019-08-01 00:00:15
4 2019-08-01 00:00:20
5 2019-08-01 00:00:25
6 2019-08-01 00:00:30
7 2019-08-01 00:00:35
8 2019-08-01 00:00:40
9 2019-08-01 00:00:45

In [64]:
df[0].dt.date

0    2019-08-01
1    2019-08-01
2    2019-08-01
3    2019-08-01
4    2019-08-01
5    2019-08-01
6    2019-08-01
7    2019-08-01
8    2019-08-01
9    2019-08-01
Name: 0, dtype: object

In [65]:
df[0].dt.hour

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: 0, dtype: int64

In [66]:
df[0].dt.second # nanosecond,microsecond,second,minute,hour ,day, week, month, quarter, year

0     0
1     5
2    10
3    15
4    20
5    25
6    30
7    35
8    40
9    45
Name: 0, dtype: int64

In [67]:
df[0].dt.is_leap_year # is_month_start, is_month_end, is_quarter_start, is_quarter_end, is_year_start, is_year_end

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: 0, dtype: bool

## 10.5 Working with strings

In [68]:
df = pd.DataFrame(['Michal', 'Felipe', 'John', 'Katka', 'Michal Hucko', 'Katka Hucko'])

In [75]:
df[0].str.startswith('Michal') # endswith, contains

0     True
1    False
2    False
3    False
4     True
5    False
Name: 0, dtype: bool

In [76]:
df[0].str.swapcase() # repeat_times

0          mICHAL
1          fELIPE
2            jOHN
3           kATKA
4    mICHAL hUCKO
5     kATKA hUCKO
Name: 0, dtype: object